.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // width: 100%;
  background-color: var(--color--bg-2);
}

@media (max-width: 768px) {
  .about-container {
    .container {
      .row {
        padding: 1rem;
      }
    }
  }
}
