.sign-in-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  // background: url("../../Assets/images/background-sign-in.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #80d0c7 0%, #0093e9 100%);
  padding: 0 2rem;
  .sign-in-form {
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid #000;
    height: fit-content;

    width: 30vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      .row {
        .title {
          font-weight: 700;
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 0.5rem;
        }
        .form {
          .form-control {
            margin-bottom: 10px;
          }
          .transfer-sign-up {
            color: #000;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            .sign-up {
              color: var(--color--bg-1);
              cursor: pointer;
              transition: all 0.3s linear;
              font-weight: 700;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .btn-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin: 0.5rem 0;
            .btn-home {
              font-size: 1.2rem;
              font-weight: 600;
              border: 1px solid #000;
              transition: all 0.3s linear;
              &:hover {
                background-color: rgba($color: #000000, $alpha: 0.8);
                color: var(--color--font-1);
              }
            }
            .btn-login {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }

        .other-sign-in {
          margin-top: 20px;
          .text {
            text-align: center;
            font-weight: 600;
          }
          .social-logo {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            i {
              font-size: 3rem;
              cursor: pointer;
              transition: all 0.3s linear;
            }
            .fa-facebook:hover {
              color: #3b5998;
            }
            .fa-google-plus:hover {
              color: #f44336;
            }
          }
        }
      }
    }
  }
  .sign-in-form_mobile {
    display: none;
  }
}

//tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .sign-in-container {
    justify-content: center;
    .sign-in-form {
      width: 50vw;
      .container {
        .row {
        }
      }
    }
  }
}
// mobile
@media (max-width: 767px) {
  .sign-in-container {
    align-items: center;
    justify-content: center;
    .sign-in-form {
      display: none;
    }
    .sign-in-form_mobile {
      display: block;
    }
  }
}
